@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	border:none;
	height: auto;
	width: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000 ;
	text-align: left;
	padding: 0px;
}


p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000 ;
	text-align: left;
	padding: 0px;
	margin: 0; 
}

#top-nav {
	display:none;
}

#header {
	display:none;
}

#rotatingBanner {
	display:none;
}

#logo {
	
	display:none;
}

#body {
	background-color: #FFFFFF;

}


#body > div {
	float: left;
	width: 100%;
	padding:0px;
	margin:0px;


}
#body div #navigation {
	
	display:none;
}
#body div div#content {
	float: left;
	width: 100%;
	padding: 0px;
}

#body div div#content2 {
	float: left;
	width: 100%;
	padding: 0px;
}

#sidebar2 {
	border: none;
	float: left;
	width: 100%;
	padding: 0px;
}

#body div h1 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: normal;
	margin: 0;
	border-left: none;
}

h1 {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: normal;
	margin: 0;
	border-left: none;
}

#body div div#content h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding:0;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding:0
}	


#footer {
	display:none;
}



#body div #content div #next {
 display:none;
}



#top-menu {
	display:none
}

#sidebar {
 display:none
 
}

#top-nav #top-menu .top { 

	display:none;
}

#print {
	display:none;
	
}

h4 {
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	margin: 0px;
	color:black;
}

ul {
	margin: 0px;
	font-size: 12pt;	
}

h3 {
	font-size: 12pt;
	color: #000000;
	margin: 0px;
}
#top {
	display:none;
}
#top-nav #top-menu .top {
	display:none;
}

#body div #content2 div #top {
	display:none;
	
}

#body div #content2 div h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding:0;
}
#body div #content2 div p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000 ;
	text-align: left;
	padding: 0px;
	margin: 0; 
}

#scroll {
	width: 100%;
	height:100%;
	margin:0px;
	padding:0px;
	
}